
body, h1, h2, p, ul, li, img {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.8;
    margin: 0;
    padding: 0;
    background: #1e1e1e;
    color: #e0e0e0;
}


section {
    padding: 3rem 5rem;
    margin: 2rem 0;
    background: #2a2a2a;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}


header {
    background: #333;
    color: #e0e0e0;
    padding: 2rem 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 3rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

nav ul {
    list-style: none;
    padding: 0;
    margin-top: 1.5rem;
}

nav ul li {
    display: inline;
    margin: 0 20px;
}

nav ul li a {
    color: #e0e0e0;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.2rem;
}

nav ul li a:hover {
    color: #1e90ff;
}


#about {
    background: #3c3c3c;
}

.about-content {
    display: flex;
    align-items: center;
}

#about .profile-image-right {
    max-width: 200px;
    height: auto;
    border-radius: 50%;
    margin-left: 20x;
    margin-right: 5px;
    padding-right: 10px;
}


#skills {
    background: #444;
}

#skills ul {
    list-style: none;
    padding: 0;
}

#skills ul li {
    background: #555;
    display: inline-block;
    margin: 10px;
    padding: 15px 30px;
    color: #e0e0e0;
    border-radius: 30px;
    font-weight: 600;
    font-size: 1.2rem;
}


#projects {
    background: #3c3c3c;
}

.project {
    margin: 2rem 0;
    padding: 1.5rem;
    background: #555;
    color: #e0e0e0;
    border-radius: 10px;
}

.project h3 {
    margin-top: 0;
}


#resume {
    background: #444;
}

#resume a {
    color: #1e90ff;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
}

#resume a:hover {
    text-decoration: underline;
}


#contact {
    background: #3c3c3c;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin: 10px 0 5px;
    font-size: 1.2rem;
    font-weight: 600;
}

form input, form textarea {
    padding: 15px;
    margin: 10px 0 20px;
    width: 100%;
    border: 1px solid #555;
    border-radius: 5px;
    background: #555;
    color: #e0e0e0;
    font-size: 1.1rem;
}

form button {
    padding: 15px;
    background: #555;
    color: #e0e0e0;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s;
    font-size: 1.2rem;
    font-weight: 600;
}

form button:hover {
    background: #666;
}


footer {
    background: #333;
    color: #e0e0e0;
    text-align: center;
    padding: 1.5rem 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    font-size: 1.1rem;
}


section + section {
    margin-top: 4rem;
}


h2 {
    margin-bottom: 1.5rem;
    font-size: 2.5rem;
    color: #e0e0e0;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}


section {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 0.8s forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


@media (max-width: 768px) {
    .about-content {
        flex-direction: column;
        align-items: flex-start;
    }

    #about .profile-image-right {
        margin-left: 0;
        margin-top: 20px;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }

    section {
        padding: 2rem;
    }
}
